.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  background-color: white;
}

.card-container:hover {
  /* transform: scale(1.03); */
  /* transform: rotate(5deg); */
  /* transform: translate(25px, 25px); */
  transform: rotate(2deg) translate(2px, 5px);
  box-shadow: 0px 0px 25px 0px;
}

.card-container:hover .card-content {
  transform: rotate(-10deg);
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 0 1rem;
  text-align: center;
  align-items: center;
  transition: 0.5s;
  animation: ease-in-out;
}

.card-title {
  font-size: 1.3rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin: 0.5rem;
  border-radius: 3px;
}

.btn-container button:hover {
  background-color: rgba(27, 156, 252, 0.1);
  transform: scale(1.01);
}

.btn-container button a {
  text-transform: uppercase;
  color: #189cfc;
  text-decoration: none;
  font-weight: bold;
}
